@CHARSET "UTF-8";
/* ############## GLOBAL ############## */
* {margin: 0px; padding: 0px;}
body, table {
	font-family: 'Droid Sans', "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 13px;
	line-height: 1;
	color: #222;
}
body {
	background: url(../img/interface/bg_dark.png) top left;
}
p { line-height: 1.4; }
a {
    color: #3B5998;
    text-decoration: none;
}
a:hover {
	color: #3B5998;
    text-decoration: underline;
}
a:hover img {
	text-decoreation: none;
}
h1 { font: 30px/1.2em 'Open Sans',arial,serif; font-weight: 300;}
h2 { font: 24px/1.2em 'Open Sans',arial,serif; font-weight: 300;}
h3 { font: 18px/1.2em 'Open Sans',arial,serif; font-weight: 300;}
h1 span.small { font: 18px/1.2em 'Open Sans',arial,serif; font-weight: 300; }
h2 span.small { font: 14px/1.2em 'Open Sans',arial,serif; font-weight: 300; }
h3 span.small { font: 13px/1.2em 'Open Sans',arial,serif; font-weight: 300; }

.clearer {clear: both; height: 1px; margin: 0px; padding: 0px; border: 0px;}


/* ############## MAIN INTERFACE ############## */
#menu {
	position: absolute;
	top: 45px;
	left: 0px;
	bottom: 0px;
	width: 130px;
	height: auto;
	padding-top: 15px;
}
#main {
	position: absolute;
	top: 45px;
	left: 130px;
	right: 0px;
	width: auto;
	height: auto;
	min-height: 400px;
	border-radius: 3px 0px 0px 0px;
	background: url(../img/interface/bg_light.png) top left;
	
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,.1);
	border: 1px solid #fff #000 #000 #fff;
	
	
}

/* ############## TOPBAR ############## */
#topbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
}
#topbar .item {
	height: 45px;
	display: inline-block;	
}
#topbar .selected {
	background: rgba(0,0,0,.3);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,.5) inset;	
}
#topbar .item a.item_link {
	height: 100%;
	padding-top: 13px !Important;
	padding-bottom: 13px !Important;
}
#logo {
	position: absolute;
	left: -10px;
	top: -4px;	
}
#topbar_right {
	position: absolute;
	right: 0px;	
	padding: 0px 0px 0px 10px;
	color: #ddd;
	font-family: 'Open Sans';
	font-weight: 300;
}
/* ---- logout icon ---- */
#topbar_right #topbar-logout-icon{
	padding:0px 10px;
	width: 20px;
	display: inline-block;
	background: url(../img/icons/icon-logout-grey.png) top left no-repeat;
	background-position: 10px 13px;
	top: -1px;
	position: relative;
}
#topbar_right a#topbar-logout-icon:hover {
	background:url(../img/icons/icon-logout-white.png) top left no-repeat;
	background-position: 10px 13px;
	text-decoration: none;
}
/* ---- view as icon (just admin) ---- */
#topbar_right #topbar-view_as {
	display: inline-block;
	position: relative;
	z-index: 200;
	marfin-right: 5px;
}
#topbar_right #topbar-view_as #view_as_dropdown {
	width: auto;
	position: absolute;
	top: 44px;
	right: 0px;
	background: white;
	border: 1px solid #ddd;
	display: none;
}
#topbar_right #topbar-view_as-icon{
	padding: 0px 0px 0px 30px;
	width: auto;
	height: 20px;
	display: inline-block;
	background: url(../img/icons/icon-view_as-grey.png) top left no-repeat;
	background-position: 10px 13px;
	top: -1px;
	position: relative;
}
#topbar_right a#topbar-view_as-icon:hover {
	background: url(../img/icons/icon-view_as-white.png) top left no-repeat;
	background-position: 10px 13px;
	text-decoration: none;
}
#topbar_right #topbar-view_as-icon.active {
	padding: 0px 5px 0px 35px;
		color: #ffd200;	
	background: url(../img/icons/icon-view_as-yellow.png) top left no-repeat;
	background-position: 10px 13px;
}
#topbar_right #topbar-view_as-icon.active:hover {
	background: url(../img/icons/icon-view_as-yellow.png) top left no-repeat;
	background-position: 10px 13px;
}
/* ---- user icon ---- */
#topbar #topbar-user-icon {
	padding: 3px 25px 0px 0px;
	background: url(../img/icons/icon-user-grey.png) top right no-repeat;
	background-position: right 10px;
	font-size: 13px;	
	display: inline-block;
	color: #ddd;
	margin-right: 5px;
}
#topbar #topbar-user-icon:hover {
	color: #fff;
	background: url(../img/icons/icon-user-white.png) top right no-repeat;
	background-position: right 10px;
	text-decoration: none;	
}
#admin_loading_div {
	/*margin: 7px auto 0px auto;
	position: relative;
	height: 15px;
	margin-bottom: -34px;
	width: 110px;
	border-radius: 15px;
	padding: 5px 7px;	
	background: #ffd200;
	border: 1px solid #fff;
	border-color:#ffe466 #ad941f #ad941f #ffe466;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,.1);
	color: #222;
	display: none;*/
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    height: 15px;
    margin: 7px auto 0px auto;
	margin-bottom: -34px;
	width: 110px;
	position: relative;
	
	background-color: #A5B8DA;
    background-image: -moz-linear-gradient(center top , #A5B8DA, #7089B3);
    border-color: #758FBA #6C84AB #5C6F91;
    border-radius: 18px 18px 18px 18px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 #AEC3E5 inset;
    color: #FFFFFF;
    font: bold 11px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    padding: 4px 15px 6px 15px;
    text-align: center;
    text-shadow: 0 -1px 1px #64799E;
    text-transform: uppercase;
    display: none;
}
#admin_loading_div img {
	margin-bottom: -1px;
	margin-top: 3px;
	margin-right: 5px;	
}

/* ############## MENU ############## */
#menu ul {list-style: none; }
#menu ul li {
	position: relative;
	height: auto;
}
#menu ul li a {
	padding: 5px 0px 5px 10px;
	display: block;
}
#menu ul li.sel {
	background: rgba(0,0,0,.3);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,.5) inset;
	margin: -2px 0px -2px 0px;
	padding: 2px 0px 2px 0px
}
#menu ul li.sel span.menu_title , #menu ul li:hover span.menu_title {
	color: #fff;
}
#menu ul li.sel .right, #menu ul li:hover .right {
	display: block;	
}
#menu ul li a:hover {
	text-decoration: none;	
}
#menu ul li.title {
	padding: 10px 0px 10px 25px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #ddd;	
}
#menu ul li.seperator {
	height: 1px;
	background: #444;
	border-top: 1px solid #222;	
	padding: 0px;
}
#menu ul li.sel .right {
	top: 10px;	
}
#menu ul li .right {
	display: none;
	position: absolute;
	right: 0px;
	top: 8px;
	height: 20px;
	width: 10px;	
	background: url(../img/interface/menu_arrow.png) top left no-repeat;
	background-position: 0 50%;
	z-index: 200;
}
#menu ul li img {
	height: 25px;
	margin-bottom: -7px;
}
#menu ul li span.menu_title {
	margin-bottom: 7px;
	display: inline-block;
	color: #aaa;
	padding-left: 5px;	
}

/* ############## ADMIN MENU ############## */
#admin_menu_main {
	width: 100%;
	height: 65px;
	position: relative;
	z-index: 100;
	border-radius: 3px 0px 0px 0px;
	
	background-image: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.1) 100%);
	background-image: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.1) 100%);
	background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.1) 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.1)));
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.1) 100%);
	background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.1) 100%);
	
	border-bottom: 1px solid #ccc;
	box-shadow:  20px 10px 10px 10px rgba(255, 255, 255, .5) inset, -1px 0px 0px 0px rgba(0,0,0,.06);
}
#admin_menu_main #admin_menu_main_nav {
	height: 65px;
	margin-bottom: 5px;
}
#admin_menu_main #admin_menu_main_nav ul {
	height: 65px;
	list-style: none; 
	padding:0 5px 0 5px;
}
#admin_menu_main #admin_menu_main_nav ul li, #admin_menu_main #admin_menu_main_nav ul li a{
}
#admin_menu_main #admin_menu_main_nav ul li{
	display: block; 
	height: 65px; 
	float: left;
	position: relative;
	overflow: hidden;
}
#admin_menu_main #admin_menu_main_nav ul li.seperator{
	border-right: 1px solid #bbb;
	width: 1px;
	background: #fff;
	margin-left: 5px;
	margin-right: 5px;	
}
#admin_menu_main #admin_menu_main_nav ul li span.spacer {
	width: 25px;
	display: block;
}
#admin_menu_main #admin_menu_main_nav ul li .menu_link {
	width: 110px;
	display: block;
	text-align: center;
	font-size: 13px;
	color: #444;
	padding: 10px 0px 7px 0px;
}
#admin_menu_main #admin_menu_main_nav ul li .menu_link img {
	margin-bottom: 3px;	
}
#admin_menu_main #right_action {
	position: absolute;
	right: 0px;	
}
#admin_menu_main #admin_menu_main_nav ul li.selected .menu_link{color: #444;}
#admin_menu_main #admin_menu_main_nav ul li .menu_link:hover, #admin_menu_main #admin_menu_main_nav ul li.selected {
	text-decoration: none;
	color: #444;
	
	background-image: -moz-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,0) 100%);
	background-image: -o-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,0) 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,.1)),color-stop(100%,rgba(0,0,0,0)));
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(0,0,0,0) 100%);
	
	box-shadow: 1px 0px 0px 0px #aaa inset, -1px 0px 0px 0px #aaa inset;
}
/* ############## ADMIN MENU BREADCRUMB ############## */
.admin_breadcrumb{
	border-bottom: 1px solid #ddd;
	height: 25px;	
	padding: 0px 10px;
	background: rgba(255,255,255,.3);
	box-shadow: 0px -4px 4px -3px rgba(0,0,0,.1) inset;
	
	color: #aaa;
}
.admin_breadcrumb ul {
	list-style: none;	
}
.admin_breadcrumb ul li {
	float: left;
	padding: 5px; 
	margin-right: 5px;	
}
/* ############## CONTENT ############## */
.actual_content {
	margin: 10px;	
	overflow: hidden;
	height: auto;
	position: relative;
}
/* ############## FOOTER ############## */
#footer {
	position: absolute;
	bottom: -115px;
	left: 0px;
	right: 0px;
	width: auto;
	height: 100px;
	color: #666;
	text-align: center;
	font-size: 12px;
	line-height: 0.8;
}
#footer ul { 
	list-style: none; 
	width: 400px; 
	margin: 0 auto;
	display: block;
}
#footer ul li {
	display: inline-block;	
}
#footer ul li a {
	padding: 5px 10px;
	color: #aaa;	
}
#footer ul li a:hover {
	text-decoration: underline;
	color: #ffd200;
}





/* ############## SEPERATORS ############## */
.h_sep {
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #dddddd;
	height: 0;
	margin: 0;
	position: relative;
	z-index: 0;	
	overflow: visible;
}
.h_sep span {
	border: medium none;
	display: block;
	height: 80px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -80px;	
}
.h_sep .left {
	background: no-repeat url(../img/interface/h_sep_edge.png) 0 0;
	background: -webkit-radial-gradient(bottom right,circle,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
	background: -moz-radial-gradient(right bottom , rgba(0, 0, 0, 0.06), transparent 80px) repeat scroll 0 0 transparent;
	left: 0;
	width: 80px;	
}
.h_sep .right {
	background: no-repeat url(../img/interface/h_sep_edge.png) -114px 0;
	background: -webkit-radial-gradient(bottom left,circle,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
	background: -moz-radial-gradient(left bottom , rgba(0, 0, 0, 0.06), transparent 80px) repeat scroll 0 0 transparent;
	right: 0;
	width: 80px;
}
.h_sep .center {
	background: url(../img/interface/h_sep_center.png);
	background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
	background: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.06), transparent 80px) repeat scroll 0 0 transparent;
	margin-left: 80px;
	margin-right: 80px;
	position: relative;
	top: -80px;
}

.h_sep_down {
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #fafafa;
	margin: 0;
	height: 0px;
	position: relative;
	z-index: -90;	
}
.h_sep_down span {
	border: medium none;
	display: block;
	height: 80px;
	position: absolute;
	top: 0px;	
}
.h_sep_down .left {
	background: no-repeat url(../img/interface/h_sep_edge.png) 0 0;
	background: -webkit-radial-gradient(top right,circle,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
	background: -moz-radial-gradient(right top , rgba(0, 0, 0, 0.06), transparent 80px) repeat scroll 0 0 transparent;
	left: 0;
	width: 80px;	
}
.h_sep_down .right {
	background: no-repeat url(../img/interface/h_sep_edge.png) -114px 0;
	background: -webkit-radial-gradient(top left,circle,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
	background: -moz-radial-gradient(left top , rgba(0, 0, 0, 0.06), transparent 80px) repeat scroll 0 0 transparent;
	right: 0;
	width: 80px;
}
.h_sep_down .center {
	background: url(../img/interface/h_sep_center.png);
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
	background: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.06), transparent 80px) repeat scroll 0 0 transparent;
	margin-left: 80px;
	margin-right: 80px;
	position: relative;
	top: 0px;
}

.v_sep_main, .v_sep_top, .v_sep_bottom{
	width: 80px;
	border: 0;
	left: 0;
	position: absolute;
	border-left: 1px solid #dddddd; /* light border at sidemenu */
	z-index: -100;
}
.v_sep_main {
	top: 80px;
	bottom: 80px;
	height: auto;
	background: url(../img/interface/v_sep_main.png) repeat-y; /* TODO: New image*/
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.04), transparent 100%);
	background: -moz-linear-gradient(left,rgba(0,0,0,0.04),transparent 100%);	
}
.v_sep_top {
	top: 0;
	height: 80px;
	background: url(../img/interface/v_sep_main.png) repeat-y; /* TODO: New image*/
	background: -webkit-radial-gradient(left bottom,circle,rgba(0,0,0,.04),transparent 30px,transparent 100%);
	background: -moz-radial-gradient(left bottom,circle,rgba(0,0,0,.04),transparent 80px,transparent 100%);	
}
.v_sep_bottom {
	bottom: 0;	
	height: 80px;
	background: url(../img/interface/v_sep_main.png) repeat-y; /* TODO: New image*/
	background: -webkit-radial-gradient(left top,circle,rgba(0,0,0,.04),transparent 30px,transparent 100%);
	background: -moz-radial-gradient(left top,circle,rgba(0,0,0,.04),transparent 80px,transparent 100%);	
}
/* ############## MESSAGES ############## */
.messages {
	overflow: hidden;	
	border-radius: 0px;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	line-height: 17px;
	margin-top: 0px;
	display: none;
}
.messages div:last-child {
	border-bottom: 0px !important;	
}
.messages div:first-child {
	border-top: 0px !important;	
}
.messages div.m_1, .messages div.m_2, .messages div.m_3, .messages div.m_0 {
	padding: 5px 10px;
	border-bottom: 1px solid #dddddd;
	box-shadow: 0px 10px 10px rgba(255,255,255,.2) inset;
}
.messages div.m_0,  /* Error */
.messages div.m_5,  /*Runtime_error */
.messages div.m_3 {  /* Debug_error */
	border-bottom: 1px solid #8f3b3f;
	background: #fcb4b8;
	color: #8f3b3f;
	text-shadow: 0px 1px #fdd;
}
.messages div.m_1 { /* Info */
	background: #b3f0ac;
	color: #3d8236;
	border-bottom: 1px solid #3d8236;
}
.messages div.m_2 {  /* Debug */
	background: #feedb6;
	color: #927e3c;
	border-bottom: 1px solid #927e3c;
}
.messages div.m_4 {  /* Runtime */
	background: #d1d1d1;
	color: #676767;
	border-bottom: 1px solid #676767;
}
/* ======= Actions left ======= */
.admincenter_actions {
	position: absolute;
	left: 0px;
	top: 0px;
	width: auto;
	height: auto;
	z-index: 100;
	overflow: hidden;
}

