<pp:dynamic name="something_is_here">
<div id="shopping_cart_border">
	<div id="shopping_cart_small">
		<div id="shopping_cart">
			<img src="{@pp:abs_root}{@pp:tpl_folder}/img/shopping-bag.png" class="bag" height="50"/>
			<span class="line top"><strong>{@pp:count}</strong> Artikel<pp:dynamic name="more_than_one"></pp:dynamic></span>
			<span class="line price"><strong>{@pp:price}&euro;</strong></span>
			<span  class="line small bottom"><a href="{@pp:abs_root}coquelicot/warenkorb/">Ansehen</a> <a href="#">Zur Kassa</a></span>
		</div>
		<div id="shopping_cart_overview">
			
		</div>
		
	</div>	
</div>
</pp:dynamic>
