@CHARSET "UTF-8";
.gallery_box_folder {
	position: relative;
/* 	left: 250px; */
/* 	right: 0px; */
/* 	top: 66px; height of menu */
/* 	top: 0px; */
/* 	bottom: 3px; */
	
	background: #333;
	
/* 	border: 1px solid black;	 */
	height: 250px;
	
	box-shadow: 0px 0px 50px 50px rgba(0,0,0,.1) inset, 0px 0px 2px 2px rgba(0,0,0,.3) inset;

	overflow: hidden;
}
.gallery_box_folder_content {
	position: absolute;
	top: 22px;
	bottom: 22px;
	left: 0px;
	right: 0px;
}
/* ---- folder - actions ---- */
.gallery_box_folder_actions {
	position: absolute !important;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 22px;

	z-index: 95;
	display: block;
	height: 22px;

	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top,  #434343 0%, #363636 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#363636)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #434343 0%,#363636 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #434343 0%,#363636 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #434343 0%,#363636 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #434343 0%,#363636 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#363636',GradientType=0 ); /* IE6-9 */

	border-top: 1px solid #222;

	font-weight: 300;

	color: white;
}
.gallery_box_folder ul.links { list-style: none; }
.gallery_box_folder ul.links li { display: inline-block; float: left;}
.gallery_box_folder ul.links li a{
	padding: 4px 8px;
	display: block;
	border-right: 1px solid #555;
}
.gallery_box_folder ul.links li a:hover {
	background: rgba(255, 255, 255, .1);
}
/* ---- folder - header ---- */
.gallery_box_folder_header{
	display: block;
	height: 22px;

	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top,  #434343 0%, #363636 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#363636)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #434343 0%,#363636 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #434343 0%,#363636 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #434343 0%,#363636 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #434343 0%,#363636 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#363636',GradientType=0 ); /* IE6-9 */

	border-bottom: 1px solid #222;
	border-top: 1px solid #333;
/* box-shadow: 0px 1px 0px 0px #111; */

	position: relative;

	font-weight: 300;
}
.gallery_box_folder_header a:hover, .gallery_box_folder_actions a:hover { text-decoration: none; }
.gallery_box_folder_header .left, .gallery_box_folder_header .right, .gallery_box_folder_header .center, .gallery_box_folder_actions {
	color: #ddd;
 	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(0,0,0,0.5) -1px -1px;
}
.gallery_box_folder_header a, .gallery_box_folder_actions a {
	color: #ddd;
 	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(0,0,0,0.5) -1px -1px;
}
.gallery_box_folder_header .left {
	float: left;	
}
.gallery_box_folder_header .right {
	float: right;
}
.gallery_box_folder_header .center {
	text-align: center;
	padding: 5px 10px;
}
.gallery_box_folder_header .right .pagina_normal ul {list-style: none; }
.gallery_box_folder_header .right .pagina_normal ul li {float: right;}
.gallery_box_folder_header .right .pagina_normal ul li a, .gallery_box_folder_header .right .pagina_normal ul li span {display: block; padding: 5px 10px 4px 10px; }
.gallery_box_folder_header .right .pagina_normal ul li span { border-left: 1px solid #555;}
.gallery_box_folder_header .right .pagina_normal ul li a { border-left: 1px solid #222; border-right: 1px solid #444;}
.gallery_box_folder_header .right .pagina_normal ul li a:hover {
	color: #fff;
	background: rgba(255, 255, 255, .1);
}
.gallery_box_folder_header .right .pagina_normal ul li.active a {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3) inset;
	border-right: 0px;
}
.gallery_box_folder_header .right .pagina_normal ul li.active a:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
/* images */
.gallery_box_folder_content { 
	position: absolute;
	top: 22px;
	bottom: 22px;
	left: 0px;
	right: 0px;
	z-index: 90;
}
.gallery_box_folder_content .images {
	overflow: auto;
	height: 775px;
}
.gallery_box_folder_content .images .image_container {
	height: 110px;
	width: 90px;
	float: left;
	display: table;
	text-align: center;
}
.gallery_box_folder_content .images .image_container .image_cell {
	display: table-cell;
	vertical-align:middle;
	position: relative;
/* border: 1px solid orange; */
}
.gallery_box_folder_content .images .image_container .image_cell .image_div {
	margin: -4px auto;
	height: auto;
/* 	border: 1px solid green; */
	display: none;
	padding: 2px;
	border-radius: 3px;
}
.gallery_box_folder_content .images .image_container .image_cell .image_div.selected {
	box-shadow: 0px 0px 0px 2px #ddd;/*#ffd500;*/
}
.gallery_box_folder_content .images .image_container .image_cell .image_div img {
	position: relative;
	z-index: 100;
}
.gallery_box_folder_content .images .image_container .image_cell .image_div .image_actions {
	width: auto;
	color: white;
	height: 30px;
	margin-bottom: -36px;
	position: relative;
	z-index: 105;
	text-align: right;
	padding: 3px;
	background: url(../../img/services/gallery/layout/image_actions_background.png) top left repeat-x;
	display: none;
}
.gallery_box_folder_content .images .image_container .image_cell .image_div .image_text {
	padding: 5px 2px 2px 2px;
	color: #ddd;
	font-size: 8pt;
	text-align: left;
	width: auto;
}
.gallery_box_folder_content .images .image_container .image_cell .image_div img.img {
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .5);
}
/* ----- UPLOAD ---- */
#gallery_box_upload {
	position: absolute;
	top:28px;
	bottom: 3px;
	left: 3px;
	right: 3px;
	z-index: 100;
	background: #f9f9f9;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.5);
	padding: 5px;
	display: none;
}
#upload_close_button {
	position: absolute;
	right: -11px;
	top: -13px;
}
/* upload type */
#gallery_box_upload #upload_form_dyn #switch_upload {
	display: block;
	overflow: hidden;
	height: 40px;
	border-bottom: 1px solid #ddd;
}
#gallery_box_upload #upload_form_dyn #switch_upload ul{ list-type: none; }
#gallery_box_upload #upload_form_dyn #switch_upload ul li { 
	float: left;
	display: block;
	position: relative;
	z-index: 100;
}
#gallery_box_upload #upload_form_dyn #switch_upload ul li a {
	padding: 15px 10px 15px 10px;
	display: block;
	color: #444;
	background: none;
}
#gallery_box_upload #upload_form_dyn #switch_upload ul li a.selected, 
#gallery_box_upload #upload_form_dyn #switch_upload ul li a:hover {
	background: url(../../../../basement/de/img/interface/tf_dropdown_arrow.png) top left no-repeat;
	background-position: bottom center;
	color: #444;
}
#gallery_box_upload #upload_form_dyn .tab {
/* 	margin-top: -2px; */
	background-color: white;
    width: auto;
    border: 1px solid #CCCCCC !important;
/*     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important; */
    padding: 0 0 6px;
    white-space: nowrap;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: normal;
    font-size: 14px;
/* 	border-radius: 3px; */
	padding: 5px;
	margin: -2px -5px;
	display: none;
	overflow: hidden;
}
#upload_form_ftp_files {
	height: 64px !important;
}
#upload_form_flash_wrapper {
	top: 1px;
	position: relative;
	display: block;
	margin: 0px !Important;
	height: 64px !Important;
	overflow-x: auto;
}
#upload_form_ftp_files {
	border-radius: 0px 0px 4px 4px;
}
#upload_buttons {
	margin-top: 10px;
	float: right;
}

