@CHARSET "UTF-8";
#admin_image_block {
	position: absolute;
	left: 250px;
	right: 0px;
	top: 66px; /* height of menu */
	top: 0px;
	bottom: 3px;
	
	background: #222;
	
	border: 1px solid black;	
	max-height: 800px;
	
	box-shadow: 0px 0px 50px 50px rgba(0,0,0,.1) inset, 0px 0px 2px 2px rgba(0,0,0,.6) inset;
}
#admin_sidemenu_block{
	float: left;
	height: auto;
	max-height: 775px;
	min-height: 400px;

	width: 250px;
	overflow-y: auto;
	overflow-x:auto;
	margin-bottom: 25px;
}
#admin_sidemenu {
	padding: 5px 0px 10px 0px;
}
#admin_sidemenu .more_spacer {
	display: inline-block;
	width: 16px;
	padding: 0px !Important;
	margin-right: 0px;
	float: left;
}
#admin_sidemenu  ul { list-style: none; }
#admin_sidemenu  ul li .link_line a.big_link:hover {
	text-decoration: none;
	color: #3e4b5e; 
}
#admin_sidemenu  ul li .link_line a.big_link {
	color: #444;
	display: block;
}
#admin_sidemenu  ul li.menu_album span.link_line {
	padding: 5px 10px 5px 7px;	
	display: block;
	color: #444;
}
#admin_sidemenu  ul li.menu_album span.link_line:hover, #admin_sidemenu ul li span.link_line.selected {
	background-color: rgba(119, 137, 165, .25);

}
/* #admin_sidemenu ul li.more { */
/* 	background-image: url(../../img/services/gallery/layout/moreArrow.png); */
/* 	background-repeat: no-repeat; */
/* } */
/* #admin_sidemenu ul li.more.open { */
/* 	background-image: url(../../img/services/gallery/layout/moreArrow_rot.png); */
/* } */
#admin_sidemenu  ul li.menu_album ul { display: none; }

#admin_sidemenu  ul li.menu_album ul li span.link_line{ padding-left: 20px; }
#admin_sidemenu  ul li.menu_album ul li ul li span.link_line{ padding-left: 35px; }
#admin_sidemenu  ul li.menu_album ul li ul li ul li span.link_line{ padding-left: 50px; }
#admin_sidemenu  ul li.menu_album ul li ul li ul li ul li span.link_line{ padding-left: 65px; }

/* #admin_sidemenu  ul li.menu_album.more{ background-position: 6px 6px; } */
/* #admin_sidemenu  ul li.menu_album ul li.more{ background-position: 23px 6px; } */
/* #admin_sidemenu  ul li.menu_album ul li ul li.more{ background-position: 38px 6px; } */
/* #admin_sidemenu  ul li.menu_album ul li ul li ul li.more{ background-position: 53px 6px; } */
/* #admin_sidemenu  ul li.menu_album ul li ul li ul li ul li.more{ background-image: none; } */

#admin_bottom_menu {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 22px;
	width: 250px;
	padding-bottom: 1px;
/* 	background: url(../../img/services/gallery/layout/bottom_menu_background.png) repeat-x; */
	border-top: 1px solid #bbb;
/* 	box-shadow: 1px 0px 2px 2px rgba(0,0,0,.1); */
	background-image: -moz-linear-gradient(center top , #fcfcfc 0px, #b1b1b1 100%);
    border-bottom: 1px solid #CCCCCC;
    border-radius: 3px 0 0 0;
    box-shadow: 20px 10px 10px 10px rgba(255, 255, 255, 0.5) inset, 1px 0px 2px 2px rgba(0,0,0,.06);
}
#admin_bottom_menu ul { list-style: none; }
#admin_bottom_menu ul li { float: left; position: relative;}
#admin_bottom_menu ul li.seperator {
	background: none repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #BBBBBB;
    width: 1px;
 	height: 23px;
}

img.icon {
	position: inline-block;
	margin-bottom: -3px;
	margin-right: 3px;
}