@CHARSET "UTF-8";
#admin_image_block {
	position: absolute;
	left: 250px;
	right: 0px;
/* 	top: 66px; height of menu */
	top: 0px;
	bottom: 3px;
	
	background: #333;
	
/* 	border: 1px solid black;	 */
	height: 797px;
	
	box-shadow: 0px 0px 50px 50px rgba(0,0,0,.1) inset, 0px 0px 2px 2px rgba(0,0,0,.6) inset;

	overflow: hidden;
}
#admin_sidemenu_block{
	float: left;
	height: auto;
	height: 775px;
/* 	min-height: 400px; */

	width: 250px;
	overflow-y: auto;
	overflow-x: auto;
/* 	margin-bottom: 25px; */
	position: relative;
	z-index: 1000;
}
#admin_sidemenu {
	padding: 0px 0px 10px 0px;
}
#admin_sidemenu .more_spacer {
	display: inline-block;
	width: 16px;
	padding: 0px !Important;
	margin-right: 0px;
	float: left;
}
#admin_sidemenu  ul { list-style: none; }
#admin_sidemenu  ul li .link_line a.big_link:hover {
	text-decoration: none;
	color: #3e4b5e; 
}
#admin_sidemenu  ul li .link_line a.big_link {
	color: #444;
	display: block;
}
#admin_sidemenu  ul li.menu_album span.link_line {
	padding: 5px 10px 5px 7px;	
	display: block;
	color: #444;
	position: relative;
}
#admin_sidemenu  ul li.menu_album span.link_line:hover, #admin_sidemenu ul li span.link_line.selected {
	background-color: rgba(119, 137, 165, .25);

}
#admin_sidemenu ul li .link_line .upload_selected_arrow {
	display: block;
	width: 20px;
	height: 20px;
	background: red;
	position: absolute;
	right: -40px;
	top: 0px;
}
/* #admin_sidemenu ul li.more { */
/* 	background-image: url(../../img/services/gallery/layout/moreArrow.png); */
/* 	background-repeat: no-repeat; */
/* } */
/* #admin_sidemenu ul li.more.open { */
/* 	background-image: url(../../img/services/gallery/layout/moreArrow_rot.png); */
/* } */
#admin_sidemenu  ul li.menu_album ul { display: none; }

#admin_sidemenu  ul li.menu_album ul li span.link_line{ padding-left: 20px; }
#admin_sidemenu  ul li.menu_album ul li ul li span.link_line{ padding-left: 35px; }
#admin_sidemenu  ul li.menu_album ul li ul li ul li span.link_line{ padding-left: 50px; }
#admin_sidemenu  ul li.menu_album ul li ul li ul li ul li span.link_line{ padding-left: 65px; }

/* #admin_sidemenu  ul li.menu_album.more{ background-position: 6px 6px; } */
/* #admin_sidemenu  ul li.menu_album ul li.more{ background-position: 23px 6px; } */
/* #admin_sidemenu  ul li.menu_album ul li ul li.more{ background-position: 38px 6px; } */
/* #admin_sidemenu  ul li.menu_album ul li ul li ul li.more{ background-position: 53px 6px; } */
/* #admin_sidemenu  ul li.menu_album ul li ul li ul li ul li.more{ background-image: none; } */

#admin_bottom_menu {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 22px;
	width: 250px;
	padding-bottom: 1px;
/* 	background: url(../../img/services/gallery/layout/bottom_menu_background.png) repeat-x; */
	border-top: 1px solid #bbb;
/* 	box-shadow: 1px 0px 2px 2px rgba(0,0,0,.1); */
	background-image: -moz-linear-gradient(center top , #fcfcfc 0px, #b1b1b1 100%);
    border-bottom: 1px solid #CCCCCC;
    border-radius: 3px 0 0 0;
    box-shadow: 20px 10px 10px 10px rgba(255, 255, 255, 0.5) inset, 1px 0px 2px 2px rgba(0,0,0,.06);
}
#admin_bottom_menu ul { list-style: none;}
#admin_bottom_menu ul li { float: left; position: relative;}
#admin_bottom_menu ul li.seperator {
	background: none repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #BBBBBB;
    width: 1px;
 	height: 23px;
}

img.icon {
	position: inline-block;
	margin-bottom: -3px;
	margin-right: 3px;
}
/* ---- sidebar top-menu ---- */
#admin_sidememu_actions {
	position: relative;
/* 	margin-bottom: 5px; */

/* 	left: 0px; */
/* 	top: 0px; */
	height: 22px;
	width: 250px;
	padding-bottom: 1px;
/* 	background: url(../../img/services/gallery/layout/bottom_menu_background.png) repeat-x; */
/* 	border-top: 1px solid #bbb; */
/* 	box-shadow: 1px 0px 2px 2px rgba(0,0,0,.1); */
/* 	background-image: -moz-linear-gradient(center top , #fcfcfc 0px, #b1b1b1 100%); */
	background: #dfdfdf;
    border-bottom: 1px solid #ccc;
    border-radius: 3px 0 0 0;
    box-shadow: 20px 10px 10px 10px rgba(255, 255, 255, 0.5) inset, 1px 0px 2px 2px rgba(0,0,0,.06);
	border-right: 1px solid #bbb;
}
#admin_sidememu_actions .left { float: left; }
#admin_sidememu_actions .right { float: right; }
#admin_sidememu_actions ul { list-style: none;}
#admin_sidememu_actions ul li { float: left; position: relative;}
#admin_sidememu_actions ul li.sort {
	padding: 4px 0px 3px 7px;
	color: #444;
}
#admin_sidememu_actions ul li.seperator {
	background: none repeat scroll 0 0 #fafafa;
    border-right: 1px solid #ccc;
    width: 1px;
 	height: 23px;
}
/* ---- folder ---- */
#folder_content .header {
	display: block;
	height: 22px;

	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top,  #434343 0%, #363636 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#363636)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #434343 0%,#363636 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #434343 0%,#363636 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #434343 0%,#363636 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #434343 0%,#363636 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#363636',GradientType=0 ); /* IE6-9 */

	border-bottom: 1px solid #222;
	border-top: 1px solid #333;
/* box-shadow: 0px 1px 0px 0px #111; */

	position: relative;

	font-weight: 300;
}
#folder_content .header a:hover { text-decoration: none; }
#folder_content .header .left, #folder_content .header .right, #folder_content .header .center {
	color: #ddd;
 	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(0,0,0,0.5) -1px -1px;
}
#folder_content .header a {
	color: #ddd;
 	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(0,0,0,0.5) -1px -1px;
}
#folder_content .header .left {
	float: left;	
}
#folder_content .header .right {
	float: right;
}
#folder_content .header .center {
	text-align: center;
	padding: 5px 10px;
}
#folder_content .header .gallery_images_menu_entry {
	display: inline-block;
	float: left;
}
#folder_content .header .gallery_images_menu_seperator {
	width: 1px;
	background: #555;
	border-right: 1px solid #111;
	height: 22px;
	display: inline-block;
}
#folder_content .header .right .pagina_normal ul {list-style: none; }
#folder_content .header .right .pagina_normal ul li {float: right;}
#folder_content .header .right .pagina_normal ul li a, #folder_content .header .right .pagina_normal ul li span {display: block; padding: 4px 10px; }
#folder_content .header .right .pagina_normal ul li span { border-right: 1px solid #555;}
#folder_content .header .right .pagina_normal ul li a { border-left: 1px solid #111; border-right: 1px solid #555;}
#folder_content .header .right .pagina_normal ul li a:hover {
	color: #fff;
	background: rgba(255, 255, 255, .1);
}
#folder_content .header .right .pagina_normal ul li.active a {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3) inset;
	border-right: 0px;
}
#folder_content .header .right .pagina_normal ul li.active a:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
/* images */
#folder_content .images {
	overflow: auto;
	height: 775px;
}
#folder_content .images .image_container {
	height: 190px;
	width: 160px;
	float: left;
	display: table;
	text-align: center;
}
#folder_content .images .image_container .image_cell {
	display: table-cell;
	vertical-align:middle;
	position: relative;
/* border: 1px solid orange; */
}
#folder_content .images .image_container .image_cell .image_div {
	margin: -4px auto;
	height: auto;
/* 	border: 1px solid green; */
	display: none;
	padding: 2px;
	border-radius: 3px;
}
#folder_content .images .image_container .image_cell .image_div.selected {
	box-shadow: 0px 0px 0px 2px #ddd;/*#ffd500;*/
}
#folder_content .images .image_container .image_cell .image_div img {
	position: relative;
	z-index: 100;
}
#folder_content .images .image_container .image_cell .image_div .image_actions {
	width: auto;
	color: white;
	height: 30px;
	margin-bottom: -36px;
	position: relative;
	z-index: 105;
	text-align: right;
	padding: 3px;
	background: url(../../img/services/gallery/layout/image_actions_background.png) top left repeat-x;
	display: none;
}
#folder_content .images .image_container .image_cell .image_div .image_text {
	padding: 5px 2px 2px 2px;
	color: #ddd;
	font-size: 8pt;
	text-align: left;
	width: auto;
}
#folder_content .images .image_container .image_cell .image_div img.img {
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .5);
}
/* ---- single image ---- */
.gallery_top_menu {
	list-style: none;
}
.gallery_top_menu li {
	float: left;
	display: block;
	width: auto;
}
.gallery_top_menu li a {
	padding: 3px 10px 5px 10px;
	display: block;
}
.gallery_top_menu li a:hover {
	background: rgba(0,0,0,.2);
}
.image {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 20px;
	bottom: 0px;
	display: block;
	overflow: hidden;
}
.image .img{
	position: absolute;
	top: 10px;
	left: auto;
	right: auto;
	display: block;
	width: 1024px;
	text-align: center;
}
/* ===========================  UPLOAD ======================= */
#upload_folder_arrow {
	height: auto;
	max-height: 775px;
	overflow: hidden;
	width: 10px;
	position: absolute;
	left: 3px;
	top: 0px;
	background: transparent;
/* 	margin-top: 22px; */
}
#upload_folder_spacer {
	display: block;
	position: relative;
	background: transparent;
/* 	padding: 5px 0px 10px 0px; */
	min-height: 100px;
	padding-top: 22px;
}
#upload_folder_indicator {
	position: relative;
	background: red;
	top: 5px;
	left: 0px;

	height: 25px;
	width: 100%;
	z-index: 20;
background: url(../../img/services/gallery/layout/upload_arrow.png) top left no-repeat;
}
#upload_window {
	position: absolute;
	left: 12px;
	top: 15px;
	bottom: 15px;
	right: 15px;
	background: #f9f9f9;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.5);
	padding: 10px;
	z-index: 10;
}
#upload_close_button {
	position: absolute;
	right: -15px;
	top: -15px;
}
#upload_window .gallery_seperator {
	width: 100%;
	display: block;
	border-bottom: 1px solid #ddd;
	height: 1px;
	overflow: hidden;
}
/* upload type */
#upload_window #upload_form_dyn #switch_upload {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
#upload_window #upload_form_dyn #switch_upload ul{ list-type: none; }
#upload_window #upload_form_dyn #switch_upload ul li { 
	float: left;
	display: block;
	position: relative;
	z-index: 100;
}
#upload_window #upload_form_dyn #switch_upload ul li a {
	padding: 15px 10px 15px 10px;
	display: block;
	color: #444;
	background: none;
}
#upload_window #upload_form_dyn #switch_upload ul li a.selected, #upload_window #upload_form_dyn #switch_upload ul li a:hover {
	background: url(../../../../basement/de/img/interface/tf_dropdown_arrow.png) top left no-repeat;
	background-position: bottom center;
	color: #444;
}
#upload_window #upload_form_dyn .tab {
	margin-top: -2px;
	background-color: white;
    box-shadow: 2px 2px 2px #777777;
    width: auto;
    border: 1px solid #CCCCCC !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
    padding: 0 0 6px;
    white-space: nowrap;
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: normal;
    font-size: 14px;
	border-radius: 3px;
	padding: 5px;
	display: none;
	overflow: hidden;
}
#upload_form_ftp_files {
	height: 160px !important;
}
#upload_form_flash_wrapper {
	top: 1px;
	position: relative;
	display: block;
	margin: 0px !Important;
}
#upload_form_ftp_files {
	border-radius: 0px 0px 4px 4px;
}
#upload_buttons {
	margin-top: 10px;
	float: right;
}
